<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости и статьи за прошедшую неделю! | ПЕРВЫЙ новостной!</title>
</head>
<body>
    <h1>Новости и статьи за прошедшую неделю!</h1>

    {% for post in subscribed_posts %}
        <div style="margin-bottom: 20px;">
            <h2>{{ post.title }}</h2>
            <p>
                Автор: {{ post.author.user.username }}<br>
                Опубликовано: {{ post.date_of_creation|date:"j F Y, H:i" }}<br>
                {{ post.preview }}
            </p>
            <p>
                <a href="{{ link }}{{ post.get_absolute_url }}">Читать подробнее...</a>
            </p>
            </br>
        </div>
    {% endfor %}

</body>
</html>